@import '../../assets/styles/mixins.scss';

.hc-navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 96px;
	box-shadow: 0px 1px 1px $shadowBlack;
	padding: 0 80px;

	&__logo {
		height: 35px;
	}
}
