// colors
$black: rgba(49, 48, 48, 1);
$boldBlack: rgba(72, 72, 72, 1);
$white: rgba(255, 255, 255, 1);
$disabledGray: rgba(155, 155, 155, 1);
$disabledBackgroundGray: rgba(126, 126, 126, 0.11);
$gray: rgba(176, 176, 176, 1);
$backgroundGray: rgba(238, 238, 238, 1);
$borderGray: rgba(229, 229, 229, 1);
$orange: rgba(255, 96, 0, 1);
$backgroundOrange: rgba(255, 96, 0, 0.11);
$hoverOrange: rgba(255, 96, 0, 0.21);
$red: rgba(249, 0, 0, 1);
$shadowBlack: rgba(0, 0, 0, 0.35);

// border
$border-radius-base: 4px;
